
daiet_comm_server/Debug/makefile

*.o

*.mk

daiet_comm_client/.cproject

*.xml

*.d

daiet_comm_client/Debug/daiet_comm_client

daiet_comm_client/.project

daiet_comm_client/Debug/makefile

daiet_comm_server/.cproject

daiet_comm_server/.project

daiet_comm_server/Debug/daiet_comm_server
